Flows/node_red-ollama.json
[
    {
        "id": "f96fd6c3f4bd790d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a4b0863a40d0076",
        "type": "function",
        "z": "f96fd6c3f4bd790d",
        "name": "Convert to Base64",
        "func": "msg.payload = msg.payload.toString('base64');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 120,
        "wires": [
            [
                "1ebb8439dc8d167e"
            ]
        ]
    },
    {
        "id": "1ebb8439dc8d167e",
        "type": "function",
        "z": "f96fd6c3f4bd790d",
        "name": "Prepare Payload",
        "func": "// Ensure msg.payload contains a valid Base64 string of the image\nmsg.payload = {\n    \"host\": \"http://192.168.0.109:11434/\",\n    \"model\": \"bakllava\",\n    \"prompt\": \"What is in this picture?\",  // Update the prompt accordingly\n    \"images\": [msg.payload]  // Use the valid Base64 string\n};\n\nreturn msg;  // Don't forget to return the msg object\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 120,
        "wires": [
            [
                "978136e6a7b490b1"
            ]
        ]
    },
    {
        "id": "978136e6a7b490b1",
        "type": "ollama-generate",
        "z": "f96fd6c3f4bd790d",
        "name": "Send to Ollama",
        "x": 1060,
        "y": 120,
        "wires": [
            [
                "dfa6d6e8319b5198"
            ]
        ]
    },
    {
        "id": "dfa6d6e8319b5198",
        "type": "function",
        "z": "f96fd6c3f4bd790d",
        "name": "Extract Response",
        "func": "msg.payload = msg.payload.response;  // Extract only the 'response' field\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 120,
        "wires": [
            [
                "204dbe9b18013f87",
                "f5ac2fb8321432cb"
            ]
        ]
    },
    {
        "id": "204dbe9b18013f87",
        "type": "ui_text",
        "z": "f96fd6c3f4bd790d",
        "group": "7c71c7b8.2c9fe8",
        "order": 3,
        "width": "6",
        "height": "6",
        "name": "Response",
        "label": "Response from Ollama:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1460,
        "y": 120,
        "wires": []
    },
    {
        "id": "fc07d9d937c58010",
        "type": "mqtt in",
        "z": "f96fd6c3f4bd790d",
        "name": "Receive Image",
        "topic": "image/upload",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "673ca06df35885c1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "2a4b0863a40d0076",
                "1d4c6e0937a9f170"
            ]
        ]
    },
    {
        "id": "f5ac2fb8321432cb",
        "type": "debug",
        "z": "f96fd6c3f4bd790d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 180,
        "wires": []
    },
    {
        "id": "1d4c6e0937a9f170",
        "type": "image",
        "z": "f96fd6c3f4bd790d",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "7c71c7b8.2c9fe8",
        "type": "ui_group",
        "name": "Default",
        "tab": "fbf5c038.d632b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "673ca06df35885c1",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fbf5c038.d632b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    }
]